In [29]:
import numpy as np

In [30]:
import pandas as pd

In [31]:
# help(pd.Series)

# issue see my documentation for git (long)

In [32]:
myindex = ['USA', 'Canada', 'Mexico']

In [33]:
mydata = [1776, 1867, 1821]

In [34]:
#myser = pd.Series(data = mydata, index= myindex)

myser = pd.Series(mydata,myindex)

In [35]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [36]:
type(myser)

pandas.core.series.Series

In [37]:
myser[0]

1776

In [38]:
myser['USA']

1776

In [39]:
ages = {'Sam':5, 'Frank':10, 'Spike':7}

In [40]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [41]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [42]:
sales_q1 = pd.Series(q1)

In [43]:
sales_q2 = pd.Series(q2)

In [44]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [45]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [46]:
sales_q1['Japan']

80

In [47]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [48]:
[1,2] *  2      # it fails here

[1, 2, 1, 2]

In [49]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [50]:
sales_q1 * 2  # pandas built off numpy array we can do this

Japan    160
China    900
India    400
USA      500
dtype: int64

In [51]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [52]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [53]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [54]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [55]:

sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [56]:
# np.random.randint?

In [57]:
# pd.Series.add?